@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.App {
  text-align: center;
  font-family: "Fredoka One", cursive;
}

.project-img {
  width: 600px;
  height: 400px;
}

.project-img-lp {
  width: 350px;
  height: 250px;
}

p {
  margin: 50px;
}
