/** @format */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

.App {
  text-align: center;
  font-family: "Righteous", cursive;

  background-color: whitesmoke;
}
h3 {
  margin: 50px;
  padding: 15px;
}
p {
  text-align: justify;
  margin: 10px;
  padding: 10px;
}
.navigation {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  color: whitesmoke;
  background-color: black;
  list-style: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  padding-top: 5px;
  padding-bottom: 15px;
}
.navigation a {
  display: block;
  color: whitesmoke;
  padding-top: 5px;
}
.navigation a:hover {
  background-color: whitesmoke;
  color: black;
}
.dropdownItem {
  background-color: black;
  padding: 3px;
}
.headline {
  font-size: 10vw;
  margin: 15px;
  padding: 80px;
}
.uvod {
  margin: 10px;
  padding: 50px;
}
.skills-ico {
  margin-left: 10%;
  width: 80%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row: auto auto;
  row-gap: 15px;
}
.skill-icon {
  width: 50px;
  height: 50px;
  border: solid 2px black;
  box-shadow: 10px 10px 5px grey;
}
.profile-img {
  border: solid black 5px;
  width: 380px;
  transition: transform 3s ease-in-out;
  box-shadow: 10px 10px 5px grey;
}
.profile-img:hover {
  transform: scale(1.3);
}
.profile-img-div {
  margin-top: 15%;
}
.second-title {
  margin: 50px;
}

h5 {
  padding: 15px;
}
.imgDiv {
  overflow: hidden;
}
.project-img {
  margin-top: 30px;
  width: 500px;
  height: 350px;
  border: solid black 5px;
  box-shadow: 10px 10px 5px grey;
  transition: transform 3s ease-in-out;
}
.project-img:hover {
  transform: scale(1.1);
}

.project-img-lp {
  width: 330px;
  height: 250px;
  border: solid black 5px;
  transition: transform 3s ease-in-out;
  box-shadow: 10px 10px 5px grey;
}
.project-img-lp:hover {
  transform: scale(1.3);
}
.code-ico {
  width: 80px;
  height: 80px;
  margin: 15px;
  box-shadow: 10px 10px 5px grey;
}
.cv-ico {
  width: 130px;
  height: 130px;
  box-shadow: 10px 10px 5px grey;
}
.btn {
  margin: 30px;
  padding: 30px;
  width: 200px;
  border: solid black 3px;
  box-shadow: 10px 10px 5px grey;
}
.exp-img {
  width: 100px;
  height: 100px;
  box-shadow: 10px 10px 5px grey;
  margin: 15px;
}
.exp-img-lg {
  width: 200px;
  height: 100px;
  box-shadow: 10px 10px 5px grey;
  margin: 15px;
}
.soc-ico {
  width: 50px;
  margin: 10px;
  height: 50px;
  box-shadow: 10px 10px 5px grey;
}
.footer p {
  margin: auto;
}

.footer a {
  font-size: 2.5rem;
  margin: 10px;
}
.footer li {
  list-style: none;
}
.footer .soc-ico:hover {
  animation: footer 0.7s ease;
  box-shadow: none;
}

@keyframes footer {
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  body {
    display: grid;
    grid-column: auto;
  }
  .navigation {
    display: grid;
    grid-template-columns: auto auto;
    height: 120px;
  }
  .headline {
    padding-top: 150px;
  }
  .project-img {
    width: 350px;
    height: 250px;
  }
  .exp-img {
    width: 50px;
    height: 50px;
  }
  .exp-img-lg {
    width: 100px;
    height: 50px;
  }
  p {
    margin: 20px;
  }
  .uvod {
    margin: 10px;
    padding: 20px;
  }
  .soc-ico {
    width: 30px;
    height: 30px;
  }
}
